body {
  padding-left: 200px;
  padding-right: 200px;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
  color: blue;
}
.fa-github {
  color: black;
}
.fa-linkedin {
  color: #1B4F72;
}
.fa-twitter {
  color: #3498DB;
}
div.container {
    width: 100%;
    height: 100%;
  }

header, footer {
    color: black;
    background-color: #AAB7B8;
    clear: left;
    text-align: center;
}

.zoom {
    background-color: #F8F9F9;
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-style: solid;
    border-color: #AAB7B8;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.box {
   padding:10px;
}
#more {
  display: none;
}

article {
  /*  overflow: hidden; */

}
